@use "@/styles/variables" as *;

.heroSection {
  display: flex;
  flex: 1;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  min-width: 100%;
  max-width: 1360px;
  margin-bottom: 5rem;
  background-color: transparent;
  color: $white-color;
  text-align: center;
  gap: 1rem;
  box-sizing: border-box;
}

.main_content {
  display: flex;
  flex-direction: row;
  max-width: 1360px;
  min-height: auto;
  align-items: center;
  background-color: $black-color;
  gap: 2rem;
}

.text_field {
  display: flex;
  justify-content: start;
  text-align: left;
  flex-direction: column;
  gap: 5rem;
  z-index: 1000;
}

.slogan {
  position: absolute;
  top: 18%;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-size: 3.5em;
  text-align: left;
  text-decoration: underline;
}

.text {
  font-family: "Arial", sans-serif;
  font-size: 1.7rem;
  text-align: left;
  text-decoration: underline;
}
.image_container {
  z-index: 10;
}
.image {
  right: 5%;
  top: 12%;
  max-width: 28vw;
  height: auto;
}

@media (max-width: $breakpoint-tablet) {
  .heroSection {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 2rem;
    padding: 0;
  }

  .main_content {
    gap: 2rem;
    padding: 0;
    min-height: auto;
    margin-top: 3rem;
  }

  .slogan {
    position: relative;
    font-size: 6rem;
    text-align: center;
  }

  .text {
    font-size: 3rem;
    text-align: center;
  }

  .image {
    display: none;
  }
}

@media (max-width: $breakpoint-mobile) {
  .heroSection {
    max-width: 100%;
    align-items: center;
    margin-top: 14rem;
    padding: 0 1rem;
  }

  .main_content {
    gap: 2rem;
    padding: 0;
    min-height: auto;
    margin-top: 3rem;
  }

  .buttonBar {
    height: 100px;
    flex-direction: column;
  }

  .textBar {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .slogan {
    font-size: 6rem;
    text-align: center;
  }

  .text {
    font-size: 3.3rem;
    text-align: center;
  }

  .image {
    display: none;
  }
}
