.feedbackForm {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 69px;
  flex-grow: 1;
}

.feedbackInputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
  position: relative;
}

.feedbackInputLabel {
  font-weight: 700;
  font-size: 1.375rem;
  display: flex;
  align-items: center;
}

.feedbackInput {
  border: 1px solid #1b1d20;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  outline: none;
  padding: 12px;
  font-size: 1.125rem;
  color: inherit;
  width: 100%;
}

.inputError {
  position: absolute;
  bottom: 5px;
  font-weight: 100;
  font-size: 1rem;
  color: #fff;
}

.phoneNumberInputContainer {
  position: relative;
}

.feedbackForm button {
  width: 199px;
  height: 62px;
  background-color: white;
}
