.feedbackForm {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.feedbackInputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feedbackInputLabel {
  font-weight: 700;
  font-size: 1.375rem;
}

.feedbackInput {
  border: 1px solid #1b1d20;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  outline: none;
  padding: 12px;
  font-size: 1.125rem;
  color: inherit;
}
