@use "@/styles/variables" as *;

/* Основные стили контейнера корзины */
.cartPage {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1360px;
  margin-top: 10rem;
  color: $white-color;
  height: auto;
  gap: 2rem;
}

.cartContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
