@use "@/styles/variables" as *;
.icon {
  object-fit: contain;
  border-radius: 50%;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
  @media (max-width: $breakpoint-mobile) {
    width: 5rem;
    height: 5rem;
  }
}
