@use "@/styles/variables" as *;

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: $black-color;
}

.container {
  min-width: 320px;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;

  @media (min-width: $breakpoint-mobile) {
    max-width: $breakpoint-mobile;
    padding: 0 16px;
  }

  @media (min-width: $breakpoint-tablet) {
    max-width: $breakpoint-tablet;
    padding: 0 24px;
  }
}
