//Colors
$pri-color: #000000;
$sec-color: #ffffff;
$bg-color: #f5f5f5;
$font-color: #000000;
$font-color-light: #ffffff;
$font-color-dark: #000000;
$font-color-secondary: #000000;
$font-color-secondary-light: #ffffff;
$font-color-secondary-dark: #000000;

// Padding and Margin
$padding-base: 1rem;
$padding-small: 0.5rem;
$margin-base: 1rem;

// Border
$border-radius: 5px;

// Font

$font-family: "Roboto", sans-serif;
