//Colors
$black-color: #111214;
$yellow-color: #fbc000;
$grey-color: #1b1d20;
$grey-disabled-color: #c9c6bd;
$white-color: #fffaea;
$reco-letters: rgba(251, 192, 0, 0.1);
$input-color: rgba(255, 255, 255, 0.1);
$footer-gradient: linear-gradient(
  149deg,
  rgba(80, 71, 42, 1) 33%,
  rgba(43, 41, 32, 1) 50%,
  rgba(0, 0, 0, 1) 100%
);

$breakpoint-tablet: 1280px;
$breakpoint-mobile: 768px;

@font-face {
  font-family: "NotoSansBold", sans-serif;
  src:
    url("../assets/fonts/NotoSans-Bold.woff") format("woff"),
    url("../assets/fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansMedium", sans-serif;
  src:
    url("../assets/fonts/NotoSans-Medium.woff") format("woff"),
    url("../assets/fonts/NotoSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansRegular", sans-serif;
  src:
    url("../assets/fonts/NotoSans-Regular.woff") format("woff"),
    url("../assets/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansSemiBold", sans-serif;
  src:
    url("../assets/fonts/NotoSans-SemiBold.woff") format("woff"),
    url("../assets/fonts/NotoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansThin", sans-serif;
  src:
    url("../assets/fonts/NotoSans-Thin.woff") format("woff"),
    url("../assets/fonts/NotoSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
