//Colors
$black-color: #111214;
$yellow-color: #fbc000;
$grey-color: #1b1d20;
$grey-disabled-color: #c9c6bd;
$white-color: #fffaea;
$reco-letters: rgba(251, 192, 0, 0.1);
$input-color: rgba(255, 255, 255, 0.1);
$footer-gradient: linear-gradient(
  149deg,
  rgba(80, 71, 42, 1) 33%,
  rgba(43, 41, 32, 1) 50%,
  rgba(0, 0, 0, 1) 100%
);

$transition-speed: 300ms;
$transition-style: ease-in-out;

$breakpoint-tablet: 1280px;
$breakpoint-mobile: 768px;
