@use "@/styles/variables.scss" as *;

.main_page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
  max-width: 1360px;
  background-color: $black_color;
  box-sizing: border-box;
}

@media (max-width: $breakpoint-tablet) {
  .main_page {
    padding: 1.5rem;
  }
}

@media (max-width: $breakpoint-mobile) {
  .main_page {
    padding: 1rem;
  }
}
