@use "@/styles/variables" as *;

.feedbackSection {
  width: 100%;
  max-width: 1360px;
  padding: 60px 92px;
  border-radius: 50px;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5);
  background: radial-gradient(
    371.89% 134.33% at 3.21% 1.26%,
    rgba(251, 192, 0, 0.07) 0%,
    rgba(251, 192, 0, 0) 100%
  );
  color: $white-color;
  border: 1px solid rgb(96, 80, 28);
}

.feedbackTitle {
  text-align: center;
  font-weight: 400;
  font-size: 1.875rem;
}

.feedbackContent {
  display: flex;
}

.feedbackImgContainer {
}
