@use "@/styles/variables" as *;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-color;
  padding: $padding-base;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1360px;
}

.active_btns {
  display: flex;
  color: $white-color;
  transition: all 0.3s ease;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .header {
    padding: $padding-small;
  }

  .container {
    justify-content: space-between;
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: $padding-small;
  }

  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
