@use "@/styles/variables.scss" as *;

.main_ly {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  background-color: $black_color;
  padding: 2rem;
  box-sizing: border-box;
}

.main_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  background-color: $black_color;
}

/* Медиа-запросы */
@media (max-width: 1024px) {
  .main_ly {
    padding: 1.5rem;
  }

  .main_content {
    gap: 1.5rem;
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .main_ly {
    padding: 0;
  }

  .main_content {
    gap: 1rem;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .main_ly {
    padding: 0;
  }

  .main_content {
    gap: 0.5rem;
    padding: 0;
  }
}
