@use "@/styles/variables" as *;

.address_form_container {
  color: $white-color;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 10px;
  @media (max-width: $breakpoint-mobile) {
    font-size: 12px;
    flex-flow: inherit;
    align-items: center;
    justify-content: center;
  }
}

.info_item strong {
  font-weight: bold;
}

.info_item a {
  color: $white-color;
  text-decoration: none;
}

.payment_icon {
  width: 80px;
  height: auto;
}
