@use "@/styles/variables" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(80, 71, 42);
  background: $footer-gradient;
  border-radius: 30px;
  padding-top: 2rem;
  margin: 0;
  width: 100vw;
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
    padding-bottom: 2rem;
  }
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  max-width: 1360px;
  background-color: transparent;
  padding: 0 3rem;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: auto;
  }
}
