@use "@/styles/variables" as *;

.social_media_hub {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  text-align: left;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  border: none;
  margin: 0;
  padding: 0 1rem;
  gap: 2rem;
  transition: all 0.3s ease;
}
