@use "@/styles/variables" as *;

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-sizing: border-box;
  object-fit: cover;
}

.small {
  width: 58px;
  height: 58px;
}

.medium {
  width: 84px;
  height: 84px;
}

.large {
  width: 150px;
  height: 150px;
}
